APP_NAME=__APP_NAME__
WEB_URL=__WEB_URL__
SECRET_KEY=django-insecure-__SECRET_KEY__
DEBUG=True
DATABASE_URL=postgres://postgres:postgres@localhost:5432/__APP_NAME__
ALLOWED_HOSTS=[]
CORS_ALLOWED_ORIGINS=["http://localhost:3000"]
POSTMARK_API_KEY=__POSTMARK_API_KEY__
POSTMARK_SENDER_EMAIL=__POSTMARK_SENDER_EMAIL__
